body {
    background-image: url(../images/oriental.png);
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    padding: 20px;
    color: #4aaaa5;

}

p {
    line-height: 2.5em;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


#maincontent {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}

footer {
    padding: 20px;
    height: 50px;
    background: yellow;
    width: 100%;
    text-align: center;
}
/* moves the nav-bar to the right */