html,
body {
    height: 100%;
}

body {
    background-image: url(../images/oriental.png);
}

h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
    color: #4aaaa5;

}

p {
    line-height: 2.5em;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


#maincontent {
    margin-top: 20px;
    height: auto !important;
    min-height: calc(100vh - 130px);
    padding: 0px;
    margin-bottom: -15px; /*to fit on screen and push footer*/
}

.main-section {
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
}

footer {
    padding: 20px;
    background: #666666;
    width: 100%;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    color: white;

}
/* moves the nav-bar to the right */