html,
body {
    height: 100%;
}

body {
    background-image: url(../images/oriental.png);
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    padding: 20px;
    color: #4aaaa5;

}

p {
    line-height: 2.5em;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


#maincontent {
    margin-top: 20px;
    height: auto !important;
    min-height: 100%;
    padding: 20px;
    background-color: #fff;
}

.push {
    height: 105px;
}

footer {
    padding-top: 30px;
    background: #666666;
    width: 100%;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    color: white;

}
/* moves the nav-bar to the right */